
@{
    ViewBag.Title = "ViewLandlords";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">View Landlords</h4>
            <div class="col-sm-9">
                <a href="~/Landlord/AddLandlord" class="btn btn-primary"> Add Landlord</a>
            </div>
            <div id="message"></div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th>LandLord id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Telephone</th>
                                    <th>Active</th>
                                    <th>Date Created</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.LandLords != null)
                                {
                                    foreach (var landlord in ViewBag.LandLords)
                                    {
                                        <tr>
                                            <td>@landlord.id</td>
                                            <td>@landlord.name</td>
                                            <td>@landlord.email</td>
                                            <td>@landlord.tel</td>
                                            <td>
                                                @if (landlord.active)
                                                {
                                                    <label class="badge badge-success">@landlord.active</label>
                                                }
                                                else if (!landlord.Active)
                                                {
                                                    <label class="badge badge-danger">@landlord.active</label>
                                                }
                                            </td>
                                            <td>
                                                @landlord.creationdate
                                            </td>
                                            <td>
                                                @if (landlord.active)
                                                {
                                                    <button class="btn btn-outline-primary"><a href="~/User/DeactivateActivateResetUser?username=@landlord.id&activity=deactivate">Terminate Contract</a></button>
                                                    <button class="btn btn-outline-primary"><a href="~/Property/ViewProperties?LandloadId=@landlord.id">View Properties</a></button>
                                                }
                                                else if (!landlord.active)
                                                {
                                                    <button class="btn btn-outline-primary"><a href="~/User/DeactivateActivateResetUser?username=@landlord.id&activity=activate">Activate</a></button>
                                                }
                                                <button class="btn btn-outline-primary"><a href="~/User/EditUser?username=@landlord.id">Edit</a></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.Error != null)
{
    <script type="text/javascript">
        window.onload = function () {
            var container = $("#message");
            container.html("@ViewBag.Error");
            container.attr("style", "color: red;text-align: center;;"); //add a style attribute
            };
    </script>
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            var container = $("#message");
            container.html("@ViewBag.Message");
            container.attr("style", "color: green;text-align: center;;"); //add a style attribute
            };
    </script>
}

<script>
    $(document).ready(function (){
        $('#order-listing').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
<!-- base:js -->
<script src="~/import/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="~/import/js/off-canvas.js"></script>
<script src="~/import/js/hoverable-collapse.js"></script>
<script src="~/import/js/template.js"></script>
<script src="~/import/js/settings.js"></script>
<script src="~/import/js/todolist.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="~/import/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="~/import/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="~/import/js/data-table.js"></script>
<!-- End custom js for this page-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>