
@{
    ViewBag.Title = "ViewJobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">JobCards</h4>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th>Ticket Id</th>
                                    <th>Job Type</th>
                                    <th>Area</th>
                                    <th>Branch</th>
                                    <th>AssetCategory</th>
                                    <th>Status</th>
                                    <th>Creation Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.JobCards != null)
                                {
                                    foreach (var jobcard in ViewBag.JobCards)
                                    {
                                        <tr>
                                            <td>@jobcard.TicketId</td>
                                            <td>@jobcard.JobType</td>
                                            <td>@jobcard.OppArea</td>
                                            <td>@jobcard.Branch</td>
                                            <td>@jobcard.AssetCategory</td>
                                            @*<td>@ticket.prioprity</td>*@
                                            <td>
                                                @if (@jobcard.Status.Equals("RESOLVED"))
                                                {
                                                    <label class="badge badge-success">@jobcard.Status</label>
                                                }
                                                else if (@jobcard.Status.Equals("ESCALATED"))
                                                {
                                                    <label class="badge badge-danger">@jobcard.Status</label>
                                                }
                                                else
                                                {
                                                    <label class="badge badge-warning">@jobcard.Status</label>
                                                }
                                            </td>
                                            <td>@jobcard.RecordDate</td>
                                            <td>
                                                <button class="btn btn-outline-primary"><a href="~/Ticketing/TicketDetails?ticketid=@jobcard.TicketId">View</a></button>
                                                @if (@jobcard.Status.Equals("ESCALATED") || jobcard.Status.Equals("PENDING"))
                                                {
                                                    <button class="btn btn-outline-primary"><a href="~/Ticketing/ResolveTicket?ticketid=@jobcard.TicketId"> Resolve</a></button>
                                                    <button class="btn btn-outline-primary"><a href="~/Ticketing/AssignTicket?ticketid=@jobcard.TicketId"> Escalate</a></button>
                                                }
                                                @if (!jobcard.Status.Equals("RESOLVED"))
                                                {
                                                    <button class="btn btn-outline-primary"><a href="#">Download Jobcard</a></button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.Error != null)
{
    <script type="text/javascript">
        window.onload = function () {
            var container = $("#message");
            container.html("@ViewBag.Error");
            container.attr("style", "color: red;text-align: center;;"); //add a style attribute
            };
    </script>
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            var container = $("#message");
            container.html("@ViewBag.Message");
            container.attr("style", "color: green;text-align: center;;"); //add a style attribute
            };
    </script>
}
<!-- base:js -->
<script src="~/import/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="~/import/js/off-canvas.js"></script>
<script src="~/import/js/hoverable-collapse.js"></script>
<script src="~/import/js/template.js"></script>
<script src="~/import/js/settings.js"></script>
<script src="~/import/js/todolist.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="~/import/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="~/import/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="~/import/js/data-table.js"></script>
<!-- End custom js for this page-->
